    * {
        margin: 0;
        padding: 0;
    }
    

    }
    header {
        /* height: px; */
        width: 100%;
        background-color: black;
    }
    
    header nav ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        /* width: 70%; */
        background-color: black;
        color: white;
        height: 30px;
        width: 70%;
        /* padding: 5px 10px; */
    }
    
    nav ul li {
        border-right: 1px solid white;
        padding: 5px 8px;
        border-left: 1px solid white;
        flex: 1
    }
    
    .logo {
        display: flex;
        justify-content: space-between;
        width: 60px;
        height: 25px;
        background-color: white;
        color: black;
        font-weight: bold;
        font-size: 25px;
    }

    .wellcome {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .hospital {
        width: 600px;
        background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.7)), url(https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/AC6D/production/_117514144_066047679.jpg);
        height: 300px;
        border: 1px solid black;
        /* background-size: cover; */
        background-repeat: no-repeat;
        position: relative;
        color: white;
        display: flex;
        /* align-items: flex-end; */
        flex-direction: column;

        justify-content: flex-end;

    }

    .hospital .Host {
        font-weight: 900;
        font-size: xx-large;

    }
    .bayden {
        background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(https://ichef.bbc.co.uk/wwhp/304/cpsprodpb/7455/production/_117518792_gettyimages-1231326098.jpg);
        background-repeat: no-repeat;
        width: 70%;
        width: 273px;
        height: 135px;
        margin-bottom: 4px;
        margin-left: -15px;
        margin-right: 8px;
        color: rgb(248, 242, 242);
    }
    
    .warren {
        background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(https://ichef.bbc.co.uk/wwhp/304/cpsprodpb/00F2/production/_117524200_warrenbuffett-2.jpg);
        background-repeat: no-repeat;
        width: 100%;
        width: 273px;
        height: 135px;
        margin-top: 0px;
        margin-left: -15px;
        margin-right: 10px;
        color: white;
    }
    
    .covid {
        background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(https://ichef.bbc.co.uk/wwhp/304/cpsprodpb/1351C/production/_117523197_gettyimages-1181729555.jpg);
        background-repeat: no-repeat;
        width: 100%;
        width: 270px;
        height: 135px;
        margin-bottom: 4px;
        color: white;
    }
    
    .doc {
        background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(https://ichef.bbc.co.uk/wwhp/304/ibroadcast/images/live/p0/99/8m/p0998mz4.jpg);
        width: 100%;
        width: 270px;
        height: 135px;
        margin-top: 0;
        color: white;
    }
    
    .four {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        justify-content: space-evenly;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    
    .four h3 {
        margin-bottom: 10px;
    }
    
    .back {
        margin-left: 10px;
        text-decoration: none;
    }
    
    .four .bayden,
    .warren,
    .covid,
    .doc {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .four a:hover {
    text-decoration: underline;
    }
    
    .four a {
        color: rgb(218, 213, 213);
        margin-bottom: 6px;
        border-left: 2px solid red;
        padding: 0px;
        width: 0px;
    }



