    * {
        margin: 0;
        padding: 0;
    }
    

    }
    header {
        /* height: px; */
        width: 100%;
        background-color: black;
    }
    
    header nav ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        /* width: 70%; */
        background-color: black;
        color: white;
        height: 30px;
        width: 70%;
        /* padding: 5px 10px; */
    }
    
    nav ul li {
        border-right: 1px solid white;
        padding: 5px 8px;
        border-left: 1px solid white;
        flex: 1
    }
    
    .logo {
        display: flex;
        justify-content: space-between;
        width: 60px;
        height: 25px;
        background-color: white;
        color: black;
        font-weight: bold;
        font-size: 25px;
    }

    .wellcome {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .hospital {
        width: 600px;
        background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.7)), url(https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/AC6D/production/_117514144_066047679.jpg);
        height: 300px;
        border: 1px solid black;
        /* background-size: cover; */
        background-repeat: no-repeat;

    }